## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [210]:
# Use this cell to enter the answers to your two questions, and run it when you are done!
# the_force = What percentage of all licensed sets ever released were Star Wars themed?
# new_era = In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?
# You can insert additional cells below to solve the problems!
the_force = 51
new_era = 2017

In [211]:
import pandas as pd

In [212]:
lego = pd.read_csv("datasets/lego_sets.csv")
parents = pd.read_csv("datasets/parent_themes.csv")

In [213]:
print(lego.shape)
lego.info()
lego.head()

(11986, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [214]:
lego=lego.rename(columns = {'name' : 'set_name'})

In [215]:
lego_sets = lego.dropna(subset=["set_num"])

In [216]:
lego_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   set_name      11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     6835 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 647.1+ KB

In [217]:
print(parents.shape)
parents.info()
parents.head()

(111, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 2.0+ KB

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [218]:
parents = parents.rename( columns = {'name' : 'parent_theme'})

In [219]:
#combine datasets
together = pd.merge(lego_sets, parents, how='left', on='parent_theme')

In [220]:
print(together.shape)
together.info()
together.head()

(11833, 8)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   set_name      11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     6835 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
 6   id            11833 non-null  int64
 7   is_licensed   11833 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(4)
memory usage: 751.1+ KB

,set_num,set_name,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False

In [221]:
licensed = together[together.is_licensed == 1]
starwars = licensed[licensed.parent_theme == "Star Wars"]

In [222]:
the_force = round(len(starwars)/len(licensed)*100,2)
print(the_force)

51.65

In [223]:
#In which year was Star Wars not the most popular licensed theme 
#(in terms of number of sets released that year)?

In [224]:
popular = licensed.groupby('year')['parent_theme'].agg(pd.Series.mode)
popular

year
1999       Star Wars
2000       Star Wars
2001       Star Wars
2002       Star Wars
2003       Star Wars
2004       Star Wars
2005       Star Wars
2006       Star Wars
2007       Star Wars
2008       Star Wars
2009       Star Wars
2010       Star Wars
2011       Star Wars
2012       Star Wars
2013       Star Wars
2014       Star Wars
2015       Star Wars
2016       Star Wars
2017    Super Heroes
Name: parent_theme, dtype: object

In [225]:
new_era = popular[popular != 'Star Wars'].index[0]
new_era

2017